body,
html {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #f1f1f1;
  background: rgb(71, 71, 71);
  background: radial-gradient(
    circle,
    rgba(71, 71, 71, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  margin: 0;
  padding: 0;
}
header {
  margin-top: 1vh;
  height: 7vh;
}

main {
  height: 85vh;
}

#img-box {
  display: grid;
  height: 85vh;
  margin: 0;
  place-items: center center;
}
#main-img {
  max-height: 80vh;
  max-width: 90vw;
  border-radius: 20px;
  box-shadow: 11px 11px 21px -2px rgba(0, 0, 0, 0.88);
}
#img-txt-box {
  font-size: 1.3rem;
  color: #f1f1f1;
}
#img-txt {
  display: inline-flex;
}
#img-photographer {
  color: #f1f1f1;
}

footer {
  height: 5vh;
  display: inline-flex;
  align-items: flex-end;
  font-size: 1rem;
  color: black;
}
footer > a {
  color: #000;
  margin: 0;
  padding: 0;
}
footer > p {
  margin: 0;
  padding: 0;
}

input {
  max-width: 25vw;
  font-size: 2em;
  color: #f1f1f1;
  padding-top: 4px;
  background: 0;
  border: 0;
  border-bottom: 2px solid #f1f1f1;
  text-align: center;
}
input:focus {
  outline: none;
}

#input-msg {
  max-width: 25vw;
  margin: auto;
  margin-top: 0.5vh;
  border-radius: 5px;
}
